.breadcrumb-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-box-to-box);
  color: var(--color-information);
  margin-bottom: var(--spacing-box-to-box);

  .back-link {
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: rgb(var(--foreground));
    transition: var(--transition-duration-base);

    &:hover,
    &:focus-visible {
      opacity: 0.5;
    }
  }

  nav {
    font-size: var(--font-size-information);
    color: var(--color-tab);
    font-weight: 500;
    overflow: hidden;

    ol {
      display: flex;
      flex-wrap: wrap;
      width: calc(100% + var(--spacing-category-to-category) + var(--size-category-dot));
      margin-left: calc((var(--spacing-category-to-category) + var(--size-category-dot)) * -1);

      li {
        padding-left: calc(var(--spacing-category-to-category) + var(--size-category-dot));
        position: relative;

        &::before {
          content: "";
          width: var(--size-category-dot);
          height: var(--size-category-dot);
          background-color: var(--color-tab);
          border-radius: 50%;
          position: absolute;
          left: calc(var(--spacing-category-to-category) * 0.5);
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}