#devlog {
  display: flex;
  flex-direction: column;

  --box-padding-x: 1.5em;
  --box-padding-y: 1.25em;

  .posts-list {
    flex: 1;
    position: relative;

    ul {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-box-to-box);

      li {
        .post-button {
          display: block;
          border-radius: var(--radius);
          border: 1px solid var(--color-border-gray);
          padding: var(--box-padding-y) var(--box-padding-x);
          padding-right: calc((var(--font-size-information) * 5) + (var(--box-padding-x) * 2)) !important;
          position: relative;
          transition: var(--transition-duration-base);

          .category-navigation {
            padding-bottom: 0.5em;
            transform-origin: top;
          }

          .title {
            font-size: var(--font-size-title);
            color: var(--color-title);
            font-weight: 600;
          }

          .date {
            font-size: var(--font-size-information);
            color: var(--color-information);
            position: absolute;
            right: var(--box-padding-x);
            top: 50%;
            transform: translateY(-50%);
          }

          &:hover,
          &:focus-visible {
            border-color: rgb(var(--foreground));
          }
        }
      }
    }
  }

  .post-header {
    border-radius: var(--radius);
    border: 2px solid rgb(var(--foreground));
    padding: var(--box-padding-y) var(--box-padding-x);
    margin-bottom: var(--spacing-main);

    .title {
      font-size: var(--font-size-title);
      color: var(--color-title);
      font-weight: 600;
    }

    .date {
      font-size: var(--font-size-information);
      color: var(--color-information);
      margin-top: 0.5em;
    }
  }

  .post-body {
    .markdown-content {
      flex: 1;
      min-width: 0;
    }
  }

  .post-aside {
    position: fixed;
    right: calc(var(--spacing-main) * 0.5);
    top: 50%;
    transform: translateY(-50%);
  }
}