@import "tailwindcss";

@font-face {
  font-family: "Pretendard";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/PretendardVariable.woff2") format("woff2-variations");
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {

  /* theme */
  --background: #fff;
  --foreground: #333;

  /* color */
  --color-background-gray: var(--color-gray-50);
  --color-border-gray: var(--color-gray-200);
  --color-border-gray-dashed: var(--color-gray-300);
  --color-tabs-background: var(--color-gray-100);
  --color-tab: var(--color-gray-400);
  --color-title: var(--color-gray-800);
  --color-information: var(--color-gray-400);

  /* layout */
  --layout-header-width: 16rem;

  /* spacing */
  --spacing-container-x: calc(var(--spacing) * 5);
  --spacing-main: calc(var(--spacing) * 7.5);
  --spacing-box-to-box: 1rem;

  /* height */
  --height-header: 7.5rem;
  --height-footer: 7.5rem;

  /* size */
  --size-icn: 1em;

  /* radius */
  --radius: 0.5rem;

  /* box-shadow */
  --box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);

  /* font-size */
  --font-size-logo: var(--text-4xl);
  --font-size-nav: var(--text-lg);
  --font-size-tab: var(--text-base);
  --font-size-devlog-title: var(--text-xl);
  --font-size-devlog-information: var(--text-sm);
  --font-size-footer: var(--text-sm);
}

@media (prefers-color-scheme: dark) {

  :root {

    /* theme */
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-size: var(--font-size-base);
}

body {
  background: var(--background);
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  color: var(--foreground);
  line-height: 1.5;
}

::-webkit-scrollbar {display: none;}

button {
  cursor: pointer;
}

/* common */
.no-data {
  color: var(--color-gray-500);
  text-align: center;
}


@media (max-width: 1460px) {

  :root {
  
    /* height */
    --height-header: 3.75rem;
    --height-footer: 3.75rem;

    /* size */
    --size-menu-button: calc(var(--height-header) * 0.45);

    /* font-size */
    --font-size-logo: var(--text-2xl);
    --font-size-nav: var(--text-base);
  }
}


@media (max-width: 768px) {

  :root {
  
    /* height */
    --height-header: 3.5rem;
    --height-footer: 3.5rem;
  }
}


@media (max-width: 380px) {

  :root {

    /* spacing */
    --spacing-container-x: calc(var(--spacing) * 3.5);
  
    /* height */
    --height-footer: 4.5rem;
  }
}