@import "./globals.css";


#wrapper {
  position: relative;


  // Icon
  .icn-container {
    display: block;
    width: var(--size-icn);
    height: var(--size-icn);

    .icn {
      width: 100%;
      height: 100%;
    }
  }

  // Category Navigation
  .category-navigation {
    font-size: var(--font-size-information);
    color: var(--color-tab);
    font-weight: 500;
    overflow: hidden;

    ol {
      display: flex;
      flex-wrap: wrap;
      width: calc(100% + var(--spacing-category-to-category) + var(--size-category-dot));
      margin-left: calc((var(--spacing-category-to-category) + var(--size-category-dot)) * -1);

      li {
        padding-left: calc(var(--spacing-category-to-category) + var(--size-category-dot));
        position: relative;

        &::before {
          content: "";
          width: var(--size-category-dot);
          height: var(--size-category-dot);
          background-color: var(--color-tab);
          border-radius: 50%;
          position: absolute;
          left: calc(var(--spacing-category-to-category) * 0.5);
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }


  // No Data
  .no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--color-gray-500);
    text-align: center;
    line-height: 1.75;
  }


  // MIN
  @media (min-width: 1461px) {
    display: flex;
    height: 100vh;
    overflow: hidden;

    aside {
      display: flex;
      flex-direction: column;
      width: var(--layout-header-width);
      height: 100%;
      border-right: 1px solid var(--color-border-gray);
      background-color: var(--color-background-gray);

      header {
        display: flex;
        flex-direction: column;
        height: calc(100% - var(--height-footer));

        .logo a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: var(--height-header);
          padding: 0 var(--spacing-container-x);
          font-size: var(--font-size-logo);
          color: #000;
          font-weight: 700;
        }

        nav {
          height: calc(100% - var(--height-header));
          overflow-y: auto;

          .depth-1 {
            display: flex;
            flex-direction: column;

            >li>a {
              display: flex;
              align-items: center;
              gap: 0.375em;
              padding: 1em var(--spacing-container-x);
              font-size: var(--font-size-nav);
              font-weight: 500;
              transition: var(--transition-duration-base);

              .icn-container {
                transform-origin: center 75%;
                position: relative;

                .icn {
                  position: absolute;
                  left: 0;
                  top: 0;
                  transition: var(--transition-duration-base);

                  &.hover {
                    opacity: 0;
                  }
                }
              }

              .txt {
                white-space: nowrap;
              }

              &:hover {
                color: #000;
                font-weight: 700;

                .icn-container {
                  animation: wave 1.5s ease-in-out infinite;

                  .icn {

                    &.default {
                      opacity: 0;
                    }

                    &.hover {
                      opacity: 1;
                    }
                  }
                }
              }

              &.active {
                color: #000;
                font-weight: 600;

                .icn-container .icn {

                  &.default {
                    opacity: 0;
                  }

                  &.hover {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }

      footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--height-footer);
        padding: 0 var(--spacing-container-x);
        font-size: var(--font-size-footer);
        color: var(--color-gray-500);
        text-align: center;
      }
    }

    main {
      flex: 1;
      height: 100%;
      padding: var(--spacing-main);
      overflow-y: auto;
    }
  }


  // MAX
  @media (max-width: 1460px) {

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: var(--height-header);
      border-bottom: 1px solid var(--color-border-gray);
      background-color: var(--color-background-gray);
      padding: 0 var(--spacing-container-x);
      font-size: var(--font-size-logo);
      color: #000;
      font-weight: 700;

      .menu-button {
        width: var(--size-menu-button);
        height: var(--size-menu-button);
      }

      nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: var(--layout-header-width);
        height: 100%;
        border-left: 1px solid var(--color-border-gray);
        background-color: var(--color-background-gray);
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
        position: fixed;
        right: 0;
        top: 0;

        .nav-title {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          height: var(--height-header);
          padding: 0 var(--spacing-container-x);
        }

        .depth-1 {
          display: flex;
          flex-direction: column;
          height: calc(100% - var(--height-header));
          overflow-y: auto;

          >li>a {
            display: flex;
            align-items: center;
            gap: 0.375em;
            padding: 1em var(--spacing-container-x);
            font-size: var(--font-size-nav);
            transition: var(--transition-duration-base);

            .icn-container {
              display: block;
              width: var(--size-icn);
              height: var(--size-icn);
              transform-origin: center 75%;
              position: relative;

              .icn {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                transition: var(--transition-duration-base);

                &.hover {
                  opacity: 0;
                }
              }
            }

            .txt {
              white-space: nowrap;
            }

            &:hover {
              color: #000;
              font-weight: 600;

              .icn-container {
                animation: wave 1.5s ease-in-out infinite;

                .icn {

                  &.default {
                    opacity: 0;
                  }

                  &.hover {
                    opacity: 1;
                  }
                }
              }
            }

            &.active {
              color: #000;
              font-weight: 600;

              .icn-container .icn {

                &.default {
                  opacity: 0;
                }

                &.hover {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }

    main {
      min-height: calc(100vh - var(--height-header) - var(--height-footer));
      padding: var(--spacing-container-x);
    }

    footer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: var(--height-footer);
      border-top: 1px solid var(--color-border-gray);
      background-color: var(--color-background-gray);
      padding: 0 var(--spacing-container-x);
      font-size: var(--font-size-footer);
      color: var(--color-gray-500);
      text-align: center;

      p br {
        display: none;
      }
    }
  }

  @media (max-width: 768px) {

    footer {
      height: auto;
      min-height: var(--height-footer);
      padding: 1em var(--spacing-container-x);
    }
  }

  @media (max-width: 380px) {

    footer p br {
      display: inline;
    }
  }
}


#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@keyframes wave {

  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(-15deg);
  }

  30% {
    transform: rotate(15deg);
  }

  55% {
    transform: rotate(-15deg);
  }

  70% {
    transform: rotate(15deg);
  }

  85% {
    transform: rotate(0deg);
  }
}