.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  border-radius: var(--radius);
  background-color: var(--color-tab-background);
  padding: 5px;
  margin-bottom: 1rem;

  .tab-button {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    font-size: var(--font-size-tab);
    color: var(--color-gray-500);
    transition: 0.3s;

    .count {
      display: block;
      padding-left: calc(1.25em + 1px);
      font-size: 0.875em;
      color: var(--color-gray-500);
      position: relative;

      &::before {
        content: "";
        display: block;
        width: 1px;
        height: 40%;
        background-color: var(--color-tab-dot-background);
        position: absolute;
        left: 0.625em;
        top: 50%;
        transform: translateY(-50%) rotate(25deg);
      }
    }

    &.active {
      color: var(--foreground);
      font-weight: 700;

      .count {
        color: var(--foreground);

        &::before {
          background-color: var(--foreground);
        }
      }
    }
  }
}